<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zanon.camera"
    android:versionCode="@VERSION_CODE@"
    android:versionName="@VERSION_NAME@">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:label="Camera"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:allowBackup="false"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|uiMode|colorMode|density|fontScale|locale|layoutDirection"
            android:launchMode="singleTask">
            <meta-data android:name="android.app.lib_name" android:value="zanon_camera" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
